:root{
    --main-color: #ffffff;
    --white:#ffffff;
    --white-alpha-40: rgba(255,255,255,0.4);
    --white-alpha-25: rgba(255,255,255,0.25);
    --backdrop-filter-blur: blur(5px) ;
}
/*------for all--------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
@media only screen and (max-width: 796px){
    p{
        font-size: 10px;
    }
}
body{
    min-height: 100vh;
    background-color: var(--main-color);
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color:transparent;
    padding-top: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    background-image: var(--white);
    padding: 30px 10%;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    margin: 20px 5%;
    
  }
a img{
    border-radius: 50%;
    height: 50px;
    order: 3;
    margin-left: auto;
    margin-top: 20px;
}
nav{
    order: 1;
}
li a button{
    font-weight: 500;
    font-size: 18px;
    color: rgb(121, 121, 121);
    text-decoration: none;
}
.nav_links{
    position: relative;
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a button:hover{
    color: rgb(0, 0, 0);
}
.box{
    order: 2;
}
button{
    margin-top: 20px;
    padding: 9px 25px;
    display: inline-block;
    background-color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.box{
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 20px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 30px;
}
.box:hover input{
    width: 200px;
}
.box input{
    width: 0;
    border: none;
    outline: none;
    transition: .8s;
    background: transparent;
}
.box a .fa{
    color: rgb(0, 0, 0);
    font-size: 18px;
}
/*-----section-----*/
section {
    
    background-image: var(--white);
    padding: 30px 100px;
    margin: 20px 5%;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content .introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0 20px;
}
.introduction h1{
    margin-bottom: 40px;
    font-size: 50px;
}
.introduction p{
    margin-bottom: 2rem;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.pic-img{
    width: 100%;
    height: 80%;
}
.pic-img img{
    height: 100%;
    width: 100%;
}
/*----artist-----*/
.artists{
    padding:  30px;
}
.heading{
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 20px;
}
.artists .content2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 40px;

}
@media only screen and (max-width: 796px) {
    .artists .content2{
        display:flex;
        flex-wrap: wrap;
    }
    .grid-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }
    .grid-container .image2 img{
        height: auto;
        width: auto;
    }
}
.grid-container{
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    border-radius: 16px;
  }
.grid-container h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.grid-container p{
    font-size: 15px;
}
  .grid-container .image2 img{
      width: 300px;
      height: 400px;
  }
.grid-container a button{
    color: black;
    border: 2px solid black;
}
/*-----services-----*/
.services {
    background-image: var(--white);
    padding: 30px 100px;
    margin: 20px 5%;
}
@media only screen and (max-width: 796px) {
    .services .content3{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }
    
}
.services .heading {
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 20px;
}

.services .content3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service-item {
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 16px;
}

.service-item h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.service-item p {
    font-size: 15px;
}



/*-----scroll-----*/

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #838383; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

#scrollToTopBtn:hover {
    background-color: #000000; 
}


/*-----footer----*/
@media only screen and (max-width: 796px){
    .socialmedia a i{
        font-size: 10px;
    }
    .footerNav ul li a{
        font-size: 10px;
    }
}
.footer{
    border-top: 2px solid black;
    background-image: white;
    margin-right: 5%;
    margin-left: 5%;
}
.footercontainer{
    width: 100%;
    padding:20px;
}
.socialmedia{
    display: flex;
    justify-content: center;
}
.socialmedia a{
    text-decoration: none;
    background-color: white;
    margin: 20px;
    border-radius: 50%;
}
.socialmedia a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.socialmedia a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialmedia a:hover i{
    color: rgb(0, 0, 0);
    transition: 0.5s
}
.footerNav{
    margin: 10px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footerNav ul li a{
    color: rgb(0, 0, 0);
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    border-top: 2px solid black;
}
.footerBottom p{
    color: rgb(0, 0, 0);
}
.designer{
    cursor: pointer;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
